<p id="notice"><%= notice %></p>

<h1>Offices</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Is active</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @offices.each do |office| %>
    <tr>
      <td><%= office.name %></td>
      <td><%= office.address %></td>
      <td><%= office.is_active %></td>
      <td><%= link_to 'Info', office %></td>
    </tr>
  <% end %>
  </tbody>
</table>