<% content_for :page_head do %>
  <h1 class="h2">Office #<%= @office.id %></h1>
<% end %>

<%= link_to 'Back', offices_path %>
| <%= link_to 'Info', @office %>
| <%= link_to 'Rooms', rooms_office_path(@office) %>
| <%= link_to 'Edit', edit_office_path(@office) %>
| <%= link_to 'Delete', @office, method: :delete, data: {confirm: 'Are you sure?'} %>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @office.address %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @office.is_active %>
</p>