<h1>Device manufacturer #<%= @device_manufacturer.id %></h1>
<%= link_to 'Back', device_manufacturers_path %>
| <%= link_to 'Edit', edit_device_manufacturer_path(@device_manufacturer) %>
| <%= link_to 'Delete', @device_manufacturer, method: :delete, data: {confirm: 'Are you sure?'} %>

<p>
  <strong>Name:</strong>
  <%= @device_manufacturer.name %>
</p>