<%= form_with(model: device_model, local: true) do |form| %>
  <% if device_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device_model.errors.count, "error") %> prohibited this device model from being saved:</h2>

      <ul>
        <% device_model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :device_type_id %>
    <%= form.collection_select :device_type_id, @device_types_for_select, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :device_manufacturer_id %>
    <%= form.collection_select :device_manufacturer_id, @device_manufacturers_for_select, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>