<p id="notice"><%= notice %></p>

<h1>Device models</h1>
<%= link_to 'New Device model', new_device_model_path %>
<br>

<strong>Filter:</strong>
<%= link_to 'Remove all filter', url_for(@filter_params.merge(filter_active: nil)) %>
<br>

<strong>By active:</strong>
<%= link_to 'All', url_for(@filter_params.merge(filter_active: nil)) %>
| <%= link_to 'Active', url_for(@filter_params.merge(filter_active: 1)) %>
| <%= link_to 'Inactive', url_for(@filter_params.merge(filter_active: 0)) %>
<br>

<table>
  <thead>
  <tr>
    <th>Type</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Is active</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @device_models.each do |device_model| %>
    <tr>
      <td><%= device_model.device_type.name %></td>
      <td><%= device_model.device_manufacturer.name %></td>
      <td><%= device_model.name %></td>
      <td><%= device_model.is_active %></td>
      <td><%= link_to 'Info', device_model %></td>
    </tr>
  <% end %>
  </tbody>
</table>