<% content_for :page_head do %>
  <h1 class="h2">Device model #<%= @device_model.id %></h1>
<% end %>

<%= render 'menu' %>

<p>
  <strong>Type:</strong>
  <%= @device_model.device_type.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @device_model.device_manufacturer.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device_model.name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @device_model.is_active %>
</p>