<p id="notice"><%= notice %></p>

<h1>Rooms</h1>
<%= link_to 'New Room', new_room_path %>
<br>

<strong>Filter:</strong>
<%= link_to 'Remove all filter', url_for(@filter_params.merge(filter_active: nil, filter_office: nil, filter_room: nil, order_by: nil)) %>
<br>

<strong>By active:</strong>
<%= link_to 'All', url_for(@filter_params.merge(filter_active: nil)) %>
| <%= link_to 'Active', url_for(@filter_params.merge(filter_active: 1)) %>
| <%= link_to 'Inactive', url_for(@filter_params.merge(filter_active: 0)) %>
<br>

<strong>By office:</strong>
<%= link_to '[ X ]', url_for(@filter_params.merge(filter_office: nil)) %>
<% @filter_offices.each do |office| %>
  <% name = office.is_active ? office.name : '(inactive) ' + office.name %>
  | <%= link_to name, url_for(@filter_params.merge(filter_office: office.id)) %>
<% end %>
<br>

<%= form_tag url_for(rooms_path), method: :get do %>
  <strong>By room:</strong>
  <%= hidden_field_tag 'filter_active', params[:filter_active] if params[:filter_active] %>
  <%= hidden_field_tag 'filter_office', params[:filter_office] if params[:filter_office] %>
  <%= hidden_field_tag 'order_by', params[:order_by] if params[:order_by] %>
  <%= text_field_tag 'filter_room', params[:filter_room] %>
  <%= submit_tag "Filter" %>
<% end %>

<strong>Order by:</strong>
<%= link_to '[ default ]', url_for(@filter_params.merge(order_by: nil)) %>
<% @order_by.each do |param, name| %>
  | <%= link_to name, url_for(@filter_params.merge(order_by: param)) %>
<% end %>
<br>

<table>
  <thead>
  <tr>
    <th>Office name</th>
    <th>Office address</th>
    <th>Room name</th>
    <th>Is active room</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.office.name %></td>
      <td><%= room.office.address %></td>
      <td><%= room.name %></td>
      <td><%= room.is_active %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>